/* *********** 全体的な設定 *********** */

body {
    background-color : #fff;
    color            : #008800;
    font-size        : 14px;
    font-family      : Meiryo UI;
}

hr {
    margin : 0px;
}

table {
    border          : none;
    border-collapse : collapse;
    margin          : 10px 0px;
}
th {
    background-color : #E7FFE7;
    border-style     : solid;
    border-color     : #ABABAB;
    border-width     : 1px 0px;
    padding          : 15px;
    text-align       : right;
}
td {
    border-style : solid;
    border-color : #ABABAB;
    border-width : 1px 0px;
    padding      : 15px;
}

img {
    border : none;
}

li {
    font-weight : bold;
}

a {
    text-decoration : none;
    color           : #FFF;
}

a:hover {
    text-decoration : underline;
}

p { 
    font-size   : 28px;
    margin      : 0px;
    font-weight : bold;
}

pre {
    display : inline;
}

div {
    inline-block;
    _display : inline;
}

.hide {
    display : none;
}

label { 
    color : #009900;
}

textarea {
    border    : solid 1px #3CA0D0;
    color     : #3CA0D0;
    font-size : 16px;
    margin    : 5px 0;
}

.form {
    margin : 15px;
}

.inputbox {
    border    : solid 1px #3CA0D0;
    color     : #3CA0D0;
    height    : 25px;
    font-size : 16px;
    margin    : 5px 0;
}

.left {
    float : left;
}
.right {
    float : right;
}

.center {
    margin     : auto;
    text-align : center;
}


/* *********** 見出しの設定 *********** */

h1 {
    font-size     : 32px;
    font-weight   : bold;
    color         : #008800;
    margin        : 0 0 15px 0;
}

h1 a {
    color : #00FF00;
}

h1 a:hover{
    text-decoration : none;
    color           : #00FFFF;
}

h2 {
    font-size : 26px;
    color     : #008800;
    height    : 30px;
    margin    : 10px 0 20px 0;
}

h3 {
    font-size : 20px;
    color     : #008800;
    margin    : 0px 0px;
    display   : inline;
}

h4 {
    font-size     : 14px;
    color         : #FF0000;
    margin-bottom : 5px;
    display       : inline;
}

/**************** 特定文字の設定 ****************/
.emphaFont_blue {
    color       : #0080FF;
    font-size   : 28px;
    font-weight : bold;
}

.emphaFont_orange {
    color       : #FF8000;
    font-size   : 28px;
    font-weight : bold;
}

.error-message {
    color       : #990033;
    background  : #FFDFEB;
    font-size   : 12px;
    font-weight : bold;
    margin-top  : 2px;
    padding     : 3px 5px;
    border-radius         : 20px; /* CSS3 */
    -moz-border-radius    : 20px; /* Firefox */
    -webkit-border-radius : 20px; /* Safari,Chrome */
}

/***** submitボタン周り *****/
.submit-orange {
    width       : 200px;
    height      : 40px;
    margin-top  : 15px;
    padding-top : 8px;
    color       : #fff;
    font-size   : 16px;
    background  : url(../img/submit_05.png) no-repeat;
    border      : none;
    cursor      : pointer;
}

.submit-blue {
    width       : 200px;
    height      : 40px;
    padding-top : 8px;
    color       : #fff;
    font-size   : 16px;
    background  : url(../img/submit_03.png) no-repeat;
    border      : none;
    cursor      : pointer;
}

.loading-area {
    margin-top : 10px;
}

.loading {
    color     : #ABABAB;
    font-size : 16px;
}

.submit-loading {
    width       : 220px;
    height      : 19px;
/* 増井TODO どういうわけか画像が出てこないので要調査 */
    background  : url(../img/ajax-loader.gif) no-repeat;
    margin      : 0px auto;
}

.green-message {
    color                 : #008000;
    background-color      : #ccffcc;
    padding               : 2px 0;
    border-radius         : 20px; /* CSS3 */
    -moz-border-radius    : 20px; /* Firefox */
    -webkit-border-radius : 20px; /* Safari,Chrome */
}

/*** flashデザイン ***/
.flash-message {
    width       : 600px;
    height      : 30px;
    background  : #D5FFDF;
    border-radius : 20px;
    position    : fixed;
        top     : 5px;
        left    : 50%;
    margin-left : -300px;
}

.fm-success-icon {
    background : url(../img/success_01.png) no-repeat;
    width      : 35px;
    height     : 35px;
    float      : left;
}
.fm-error-icon {
    background : url(../img/error.png) no-repeat;
    width      : 35px;
    height     : 35px;
    float      : left;
}
.flash-message-text {
    line-height : 29px;
    font-weight : bold;
    color       : #FFFF00;
}

.success {
    color : #009900;
}

.error {
    color : #FFFF00;
}

/********** elementの設定 **********/
.elem {
    text-align  : center;
    width       : 500px;
    border      : solid 1px #80FF80;
    padding     : 50px 0;
    line-height : 40px;
}

.header-elem {
    font-size   : 16px;
    text-align  : center;
    width       : 500px;
    border      : solid 1px #80FF80;
    padding     : 10px 0;
    line-height : 40px;
}

.header-elem a {
    color : #FF6600;
}

.header-elem a:hover {
    background : #FF6600;
    color : #FFF;
}

.clearfix:after {
    content    : " ";  /* 新しい要素を作る */
    display    : block;  /* ブロックレベル要素に */
    clear      : both;
    height     : 0;
    visibility : hidden;
}


/************************
 * コンテンツ全体の設定：
 ************************/
#container {
    width         : 1000px;
    margin        : 0 auto;
    margin-top    : 45px;
    margin-bottom : 45px;
}

.yatter-window {
    width  : 500px;
    height : 600px;
    margin : 0 auto;
    border : solid 1px #80FF80;
}

.yatter-line {
    width  : 490px;
    height : 50px;
    margin : 5px auto;
}

/***************
 * headerの設定：
 ***************/
#header {
    width  : 1000px;
    height : 70px;
}

#home-bar-top {
    width  : 100%;
    height : 29px;
    /* Firefox用 */
    background: -moz-linear-gradient(top, 
        #010066,
        #0080FF 90%,
        #CCC
    );
    /* Safari,Google Chrome用 */
    background : -webkit-gradient(linear, left top, left bottom,
        from(#010066),
        color-stop(0.9, #0080FF),
        to(#CCC)
    );
    /* IE用 */
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr="#010066", EndColorStr="#0080FF");
        position : fixed;
        top : 0;
        left : 0;
        padding : 3px;
}
* html div#home-bar-top {     
    position: absolute;     
    top: expression(eval(document.documentElement.scrollTop+0));  
}
 
#home-bar-bottom {
    width : 100%;
    height : 29px;
    /* Firefox用 */
    background: -moz-linear-gradient(
        top,
        rgba(0, 128, 255, 0.9), /* #0080FF */
        rgba(0, 51, 255, 1)     /* #0033FF */
    );
    /* Safari,Google Chrome用 */
    background : -webkit-gradient(
        linear, left top, left bottom,
        from(rgba(0, 128, 255, 0.8)),
        to(rgba(0, 51, 255, 1))
    );
    /* IE用 */
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr="#0080FF", EndColorStr="#0033FF");
    position : fixed;
    bottom : 0;
    left : 0;
    padding : 3px;
}
* html div#home-bar-bottom {     
    position: absolute;     
    top: expression(eval(document.documentElement.scrollTop+0));  
} 

/***** divボックス内のテキスト折り返し時に利用 *****/
.home-bar-text {
    padding     : 5px 10px 7px 7px;
    text-align  : right;
    color       : #FFF;
    white-space : pre;           /* CSS 2.0 */
    white-space : pre-wrap;      /* CSS 2.1 */
    white-space : pre-line;      /* CSS 3.0 */
    white-space : -pre-wrap;     /* Opera 4-6 */
    white-space : -o-pre-wrap;   /* Opera 7 */
    white-space : -moz-pre-wrap; /* Mozilla */
    white-space : -hp-pre-wrap;  /* HP Printers */
    word-wrap   : break-word;    /* IE 5+ */
}
.home-bar-text a {
    color : #FFF;
}

.home-bar-bottom-text {
    text-align : center;
    margin-top : 5px;
}
.home-bar-bottom-text a {
    color : #FFF;
}
.home-bar-bottom-text a:hover {
    background : #0080FF;
}



/*******************
 * content内の設定：
 *******************/
#content {
    width : 1000px;
}



/***************
 * footerの設定：
 ***************/
.whole-footer {
    width         : 600px;
    margin        : 10px auto;
    padding       : 5px 0;
    text-align    : center;
    color         : #009900;
    font-weight   : bold;
    clear         : both;
}



/***************
 * その他の設定：
 ***************/
.blueSquare {   width : 12px;
                height : 12px;
                background : #6EFEFE;
                display: inline-block;
                _display: inline;
}

.greenSquare {  width : 12px;
                height : 12px;
                background : #00FF44;
                display: inline-block;
                _display: inline;
}

.yellowSquare { width : 12px;
                height : 12px;
                background : #FFFF00;
                display: inline-block;
                _display: inline;
}

.pinkSquare {   width : 12px;
                height : 12px;
                background : #FC6CD8;
                display: inline-block;
                _display: inline;
}

.redSquare {    width : 12px;
                height : 12px;
                background : #FF0000;
                display: inline-block;
                _display: inline;
}



